!!! 5
head
	title #{title}
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans', type='text/css')
	link(rel='stylesheet', href='/main.css', type='text/css')
	script(type='text/javascript', href='/main.js')
body
	div.topbar
		ul
			li
				a(href='http://github.com/guyht/glog') Glog
			li
				a(href='http://twitter.com/mrwooster') @mrwooster
	div.blog_title
		<a href='/'>!{title}</a>
	- each article in articles
		div.article
			div.header
				div.title
					<a href='!{article.url}'>!{article.title}</a>
				div.date !{article.date_str}
			div.body !{article.body}

			div#disqus_thread

	// Please do not remove
	div.footer
		a(href='http://github.com/guyht/glog') Powered by Glog
